:root {
	--bkDarkBlue: rgb(34, 42, 53);
	--bkLightBlue: rgb(57, 71, 89);
	--bkOrange: rgb(255, 102, 0);
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(57, 71, 89);
	color: white;
	font-family: arial;
}

header {
	/*height: 60px;*/
	padding: 10px;
	border-bottom: 1px solid gray;
}

/* ID's and Classes */
#outer-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
}

#menu-panel {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	max-width: 400px;
	background-color: var(--bkDarkBlue);
}

#info-panel {
	position: fixed;
	width: 80%;
	left: 10%;
	top: 15%;
	background-color: var(--bkDarkBlue);
	border: 2px solid white;
	z-index: 10;
	padding: 10px;
	display: none;
}

@media only screen and (min-width: 625px) {
	#info-panel {
		width: 500px;
		left: calc((100% - 500px)/2);
	}
}

#info-panel h1 {
	text-align: center;
	margin-bottom: 5px;
}

#info-panel h3 {
	color: var(--bkOrange);
	margin-bottom: 5px;
}

#info-panel ul {
	padding-left: 20px;
}

#info-panel-close {
	position: absolute;
	top: 5px;
	right: 5px;
	color: var(--bkOrange);
}

#info-panel-close:hover {
	cursor: pointer;
}

#main-container {
	/*border: 1px solid red;*/
	width: 90%;
	/*left: 5%;*/
	margin: 20px auto 40px auto;
	/*height: auto;*/
	/*position: fixed;*/
	text-align: center;
}

#word-container {
	/*border: 1px solid blue;*/
	/*position: relative;
	top: 0;*/
	width: 100%;
	/*height: 40%;*/
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

#guess-container {
	/*border: 1px solid pink;*/
	/*position: relative;*/
	width: 100%;
	height: auto;
	text-align: center;
}

#guess-input {
	font-size: 48px;
	min-width: 0;
	width: 100%;
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	text-transform: uppercase;
	background-color: rgb(34, 42, 53);
	color: white;
	border: 2px solid gray;
	border-radius: 8px;
	caret-color: transparent;
}

#guess-table {
	width: 80%;
	max-width: 400px;
	margin: 20px auto;
	border-collapse: collapse;
}

#guess-table th {
	padding-bottom: 5px;
}

#guess-table tr {
	border: 1px solid white;
}

.guess-num {
	color: gray;
	text-align: left;
	width: 25%;
	padding-left: 8px;
}

.guess-value {
	width: 45%;
}

.correct-guess {
	background-color: green;
	color: white;
	font-weight: bold;
}

.guess-flipped-letters {
	text-align: right;
	width: 30%;
	padding-right: 8px;
}

#message {
	margin: 10px 0;
	width: 100%;
}

.normal-message {
	color: white;
}

.red-message {
	color: rgb(255, 102, 0);
	font-weight: bold;
}

.green-message {
	color: green;
	font-weight: bold;
}

#play-again-btn {
	display: none;
	width: 120px;
	margin: 10px auto 0 auto;
}

#hamburger-menu-icon {
	height: 40px;
	width: auto;
	float: left;
}

#info-icon {
	height: 40px;
	width: auto;
	float: right;
}

#info-icon:hover {
	cursor: pointer;
}


#title {
	height: 40px;
	font-size: 40px;
	text-align: center;
}

.container {
    width: 62px;
    height: 90px;
    border-radius: 4px;
    margin: 0 10px;
    position: relative;
    display: inline-flex;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}
.card div {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 90px;
    border-radius: 4px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .front {
  background: var(--bkDarkBlue, black);
}

.card .back {
    background: var(--bkOrange, dodgerblue);
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}

.card .back-winner {
	background: green;
	-webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}

.card.flipped-letter {
    -webkit-transform: rotateX( 180deg );
    -moz-transform: rotateX( 180deg );
    -o-transform: rotateX( 180deg );
    transform: rotateX( 180deg );
}

#winner-stat-div {
	background-color: var(--bkDarkBlue);
	width: 472px;
	margin: 20px auto auto auto;
	height: 100%;
	padding: 8px;
	border-radius: 4px;
	border: 2px solid white;
	overflow: hidden;
}

.stat-divs {
	background-color: var(--bkLightBlue);
	padding: 8px;
	border-radius: 4px;
}

.stat-divs p {
	color: var(--bkOrange);
	margin-bottom: 4px;
	font-size: 20px;
}

#correct-word-stat {
	width: 100%;
	margin-bottom: 8px;
	font-size: 40px;
}

#guesses-made-stat {
	width: calc(50% - 4px);
	margin-left: 4px;
	float: right;
	font-size: 60px;
}

#tiles-flipped-stat {
	width: calc(50% - 4px);
	margin-right: 4px;
	float: left;
	font-size: 60px;
}

@media only screen and (max-width: 570px) {
	.container {
		width: 54px;
		height: calc(52px * 1.5);
		margin: 0 8px;
	}
	.card div {
		line-height: calc(52px * 1.5);
		font-size: 52px;
	}
	#winner-stat-div {
		width: 400px;
	}
}

@media only screen and (max-width: 500px) {
	.container {
		width: 44px;
		height: calc(42px * 1.5);
		margin: 0 6px;
	}
	.card div {
		line-height: calc(42px * 1.5);
		font-size: 42px;
	}
	#winner-stat-div {
		width: 316px;
	}
	.stat-divs p {
	font-size: 16px;
	}
}

@media only screen and (max-width: 400px) {
	.container {
		width: 42px;
		height: calc(40px * 1.5);
		margin: 0 4px;
	}
	.card div {
		line-height: calc(40px * 1.5);
		font-size: 40px;
	}
	#winner-stat-div {
		width: 280px;
	}
	.stat-divs p {
	font-size: 14px;
	}
}

@media only screen and (max-width: 360px) {
	.container {
		width: 36px;
		height: calc(34px * 1.5);
		margin: 0 4px;
	}
	.card div {
		line-height: calc(34px * 1.5);
		font-size: 34px;
	}
	#winner-stat-div {
		width: 244px;
	}
	.stat-divs p {
	font-size: 12px;
	}
}